@use "../variables.scss";
.sidebar-menu {
  border-right: 1px solid rgba(240, 240, 240, 0.8);
  .menu-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    // margin: "1em 0",
    font-size: 1.25em;
    padding: 1em;
    &:hover {
      background-color: rgb(240, 240, 240);
    }
    &:active {
      background-color: variables.$color-primary;
    }
  }
}
@media only screen and (max-width: 1024px) {
  // .sidebar-menu {
  .menu-label {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    padding: 1em 0;

    align-items: center;
    flex-grow: 1;
    // z-index: 999;
  }
  // }
}
