@use "../../variables.scss";
.ticket-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 1.25em;
  .input-list {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: flex-start;
    gap: 1em;
    .info-input {
      width: 100%;
    }
  }
}
.desktop-ticket-list {
  display: flex;
  flex-flow: column;

  overflow: auto;

  // gap: 8px;
  border-radius: 8px;

  margin: 1em;
  // background-color: #fff;
  // background-color: #99e2b4;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2em 1em;
  background-color: #fff;
  color: white;
  width: max-content;
  // box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid salmon;
  .title {
    font-weight: 600;
    color: rgb(14, 85, 111);
  }
  .type {
    font-weight: 300;
    // font-size: 0.75em;
    color: rgb(100, 100, 100);
  }
}
@media only screen and (max-width: 1024px) {
  .ticket-card {
    margin: 1em;
    // padding: 1em;
  }
}
